.main_container {
  text-align: center;
  padding: 2rem;
  background-image: url("https://blush.design/api/download?shareUri=rrZQDcCYajfdr4Xo&w=800&h=800&fm=png");
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
.header h2 {
  padding: 1rem;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  color: #1f3a69;
}
.header hr {
  width: 15%;
  margin: auto;
  border: solid #168290;
}
.card_main {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: auto;
  grid-gap: 5px;
  margin: 1rem auto;
  width: min-content;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: transform 0.2s;
}
.card_main:hover {
  transform: scale(1.02);
}
/* transition: transform 0.4s;
  transform: scale(1.1); */

.header .famous {
  padding: 2rem;
  color: #1f3a69;
  font-family: "Albert Sans", sans-serif;
}
.card_main div {
  margin: 0.5rem;
  color: #1f3a69e2;
  border: 1px solid #1f3a69ae;
  padding: 0.6rem;
  border-radius: 1rem;
  font-family: "ABeeZee", sans-serif;
  transition: transform 0.2s;
}
.card_main div:hover {
  background-color: #168290;
  transform: scale(1.04);
  color: #f6fcff;
}
